.thanks{
    display:block;
    justify-content: center;
    margin: auto;
}
.back{
    justify-content: center;
    margin: auto;
    text-align: center;
    margin-top: 35px;
    background-color: rgb(21, 20, 24);
    height: 40px;
    width: 210px;
    padding-top: 5px;
    border-radius: 35px;
}
.back > a{
    text-decoration: none;
    color: white;
}
.back h2{
    margin-bottom: 15px;
}

